body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

.profile img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
    width: 150px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


form input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid  #007bff;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: aqua;
}
h3{
    font-size: 34px;
    color:  #007bff;
}

a{
    background-color:  #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

a:hover {
    background-color: aqua;
}