body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
   
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
form {
    margin-top: 400px;
    width: 25%;
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 3px solid  #73c3f5;
    font-size: 16px;
}
a {
    color:  #73c3f5;
    text-decoration: none;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #73c3f5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
h1 {
    text-align: center;
    color: #73c3f5;
}

button[type="submit"]:hover {
    background-color:  #2e63e8;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color:aqua;
}

.all {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 84px;
    margin: auto;
}