body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
 
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  color: #007bff;
  font-size: 64px;
}
p{
  font-size: 25px;
  color: #414141;
}

a {
  color: #ffffff;
  background-color: #007bff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

a:hover {
  background-color: aqua;
  color: white;
}


