/* Set max-width for the body */
body {
    max-width: 800px;
    margin: 0 auto;
    background-color:  #FAF9F6;
  }
  
  /* Set the display of the profile and book divs to inline-block */
  .profile, .number {
    vertical-align: top;
    margin-top: 10px;
  }
  
  /* Set the width of the profile div */
  .profile {
    width: 300px;
    height: 550px;
    border: 1px solid #868686;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    position: sticky;
    top: 0;
    background-color: #FAF9F6;    
  }
  
  .profile img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
    width: 150px;
  }

  
  /* Set the border for each book div */
  .book-container{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color:  #007bff;
    max-width: 50%;
    background-color: #FAF9F6;
    
  }
  
  .profile button[type="submit"] {
    margin-top: auto;
    margin-left: 10px; /* Add margin to separate the buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 40px;
  }

  .profile button[type="submit"]:hover{
    background-color: aqua;
  }
  
  /* Hide the title and author fields */
  form input[type="text"][name="title"],
  form input[type="text"][name="author"] {
    display: none;
  }
  
  /* Style the edit and delete buttons */
  /* Style the edit and delete buttons */
form button[type="submit"] {
    display: flex; 
    margin-top: auto;
    margin-left: auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 40px;
  }
form button[type="submit"] :hover{
    background-color: aqua;
  }
  
  /* Style the delete button */
  #del {
    background-color: red;
    display: flex;
    margin-top: auto;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin: auto 15px 15px 15px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  /* Add hover effect for the delete button */
  #del:hover {
    background-color: rgba(255, 0, 0, 0.775);
  }
  
  
  /* Style the Add Book and Logout links */
  .buttons-container {
    clear: both; /* Clear the float */
    margin-top: 20px;
    margin-left: 0px;
    text-align: right;
    float:left;
    display: flex;
    justify-content: space-between;
  }
  
  .logout-link {
    margin-top: auto;
    margin-left: 10px; /* Add margin to separate the buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    width: 200px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
  }
  

.add-link:hover, .logout-link:hover {
    background-color:aqua;
}
.add-link{
    margin-top: auto;
    margin-left: 10px; /* Add margin to separate the buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    
}
h1{
    color:  #007bff;
    margin-left: 40px;
}
.number{
  width: 450px;
  height: 80px;
  border-radius: 4px;
  padding: 10px 10px 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #c8c8c8f1;
}
.about_book{
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  height: 70px;
  width: 250px;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.about_book h4{
  font-size: 20px;
  color: #3b3b3b;
  margin: 0;
  padding: 0;
}
.about_book h5{
  font-size: 17px;
  color: #767676;
  margin: 0;
  padding: 0;
}
.about_book h6{
  font-size: 12px;
  color: #868686;
  margin: 0;
  padding: 0;
}
.btns{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 84px;
  margin: auto;
}
.content{
  display: flex;
  flex-direction: row-reverse;
}

.books {
  width: 500px;
  height: 550px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  top: 0;
  background-color: #FAF9F6;
  border: 1px solid #868686;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}